.imgprojet {
    height: 90vh;
    margin-top: 5vh;
    margin-left: 2vw;
    margin-bottom: 5vh;
    width: 45vw;
    object-fit: cover;
    object-position: 0% 0%;
}

.model {
    object-position: 35% 0%;
}

.imgtexte {
    display: block;
    
}

.txt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20vw;
    width: 60vw;
}

.nomprojet {
    font-size: 8vw;
    margin: 0;
    margin-top: 0vh;
    text-align: center;
}

.role {
    font-size: 2vw;
    margin-top: 5vh;
    margin-bottom: 15vh;
    text-align: center;
}

.header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #19281A;
    color: #f8efe7;
}

.main {
    background-color: #f8efe7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.description {
    grid-column: 2/3;
    font-size: 2vw;
    text-align: center;
    width: 70vw;
    color: #19281A;
    margin: 0;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #19281A;
    color: #f8efe7;
}

.titrecontact {
    font-size: 5vw;
    margin-left: 25vw;
    width: 30vw;
    margin-top: 15vh;
}

.contact {
    font-size: 1vw;
    width: 30vw;
    margin-top: 13vh;
    margin-bottom: 13vh;
}

.img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body {
    margin: 0;
}

