.header {
    background-color: #19281A;
    color: #f8efe7;
}

.portrait {
    object-fit: fill;
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    object-position: 50% 0%;
}

.objectif {
    font-size: 1.5vw;
}

.portfolio {
    font-size: 3vw;
    margin-left: 2vw;
    text-align: center;
}

.logiciel {
    width: 4vw;
    margin-left: 3vw;
}

.competences {
    margin-left: 3vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 8vw;
    padding-top: 2vw;
}

.nom {
    width: 40vw;
    height: 25vw;
    margin: 0;
    font-size: 10vw;
    text-align: center;
    margin-top: 5vw;
}

.presentation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5vw;
    padding-bottom: 0;
    gap: 5vw;
}

.main {
    background-color: #f8efe7;
    padding-bottom: 10vh;
}

.projettitre {
    text-align: center;
    color: #19281A;
    padding: 10vw;
    margin: 0;
    font-size: 5vw;
}

.projets {
    margin-left: 2.5vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.projet {
    background-color: #19281A;
    padding: 2vw;
    width: 25vw;
    height: 30vw;
    margin-bottom: 2vw;
}

.projet:hover {
    background-color: #090e09;
}

a{
    text-decoration: none;
}

.nomprojet {
    text-align: center;
    color: #f8efe7;
    font-size: 2vw;
}

.imgprojet {
    width: 25vw;
    height: 25vw;
}

.imglion {
    object-fit: cover;
    object-position: 0% 0%;
}

.imggenerique {
    object-fit: cover;
    object-position: 50% 0%;
}

.imgskate {
    object-fit: cover;
    object-position: 8% 0%;
}

.imgsave {
    object-fit: cover;
    object-position: 0% 0%;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #19281A;
    color: #f8efe7;
}

.titrecontact {
    font-size: 5vw;
    margin-left: 25vw;
    width: 30vw;
    margin-top: 15vh;
}

.contact {
    font-size: 1vw;
    width: 30vw;
    margin-top: 8vh;
    margin-bottom: 13vh;
}